{
  "extends": "standard",
  "env": {
    "browser": true,
    "es6": true,
    "node": true
  },
  "globals": {
    "Modernizr": true,
    "navigator": true
  },
  "parser": "babel-eslint",
  "root": true,
  "rules": {
    "no-unused-vars": "warn",
    "no-new": "warn",
    "no-cond-assign": "warn"
  }
}
